.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  color: $primary-text-color;
  background-color: $primary-bcg-button;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;

  transition: color 250ms $timing-function, background-color 250ms $timing-function,
    box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    color: $white-text-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &--current {
    color: $white-text-color;
    background-color: $accent-color;
  }
}
