.partners {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $primary-icon-color;
  border-radius: 4px;
  color: $primary-icon-color;

  transition: color 250ms $timing-function, border-color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
