.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--noPaddingTop {
    padding-top: 0;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
  &--teamBcg {
    background-color: $primary-bcg-button;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desctop) {
    width: 1200px;
  }
}
