@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$primary-text-color: #212121;
$secodary-text-color: #757575;
$accent-color: #2196f3;
$secondary-bcg-color: #2f303a;
$white-text-color: #ffffff;
$primary-bcg-button: #f5f4fa;
$button-hero-hover-color: #188ce8;
$footer-adress-link-color: rgba(255, 255, 255, 0.6);
$border-primary-color: #eeeeee;
$border-secondary-color: #ececec;
$primary-icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
